html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  position: fixed;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100% - 2.5em);
  width: 100%;
  background-color: transparent;
}

.container * {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

h2 {
  margin-top: 1em;
}

p {
  margin: 0;
}

.container img {
  margin-top: 1em;
  image-rendering: pixelated;
}

p, a {
  color: green;
}
